[submodule "pipz"]
	path = pipz
	url = https://github.com/davidlatwe/rez-pipz.git
	branch = dev
[submodule "miniconda"]
	path = miniconda
	url = https://github.com/davidlatwe/rez-miniconda.git
[submodule "rezsrc"]
	path = rezsrc
	url = https://github.com/davidlatwe/rez.git
[submodule "allzparksrc"]
	path = allzparksrc
	url = https://github.com/davidlatwe/allzpark.git
