[submodule "gitz"]
	path = gitz
	url = https://github.com/davidlatwe/rez-gitz.git
[submodule "Qt.rez"]
	path = Qt.rez
	url = https://github.com/davidlatwe/Qt.rez.git
[submodule "pipz"]
	path = pipz
	url = https://github.com/davidlatwe/rez-pipz.git
	branch = dev
[submodule "miniconda"]
	path = miniconda
	url = https://github.com/davidlatwe/rez-miniconda.git
[submodule "rezsrc"]
	path = rezsrc
	url = https://github.com/davidlatwe/rez.git
[submodule "allzpark"]
	path = allzpark
	url = http://github.com/davidlatwe/allzpark.git
